* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    padding-left: 30px;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    font-weight: 200;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    font-weight: 200;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/*
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
*/

p {
    font-size: 100%;
    word-spacing: 3px;
    font-weight: 100;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: #00ADB5;
}

.intro {
    margin-top: 80px;
}

.get-in-touch {
    margin-top: 30px;
}

.icon-small {
    display: inline-block;
    width: 50px;
    text-align: center;
    color: #EEEEEE;
    font-size: 200%;
    margin-right: 10px;
    secrets to align text and icons line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}